<!-- News Section -->
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:2.5%;width:100%;vertical-align:middle">
      <section class="news-section" aria-labelledby="news-heading">
        <h1 id="news-heading">News</h1>
        <div class="news-list" role="region" aria-label="News timeline" tabindex="0">
          <article class="news-entry">
            <time datetime="2026-04">Apr 2026</time>
            <p>Our paper <a href="https://arxiv.org/abs/2509.23155">LAGEA: Language Guided Embodied Agents for Robotic Manipulation</a> has been accepted at <a href="https://icml.cc/Conferences/2026/Dates">ICML 2026</a>.</p>
          </article>
          <article class="news-entry">
            <time datetime="2025-09">Sep 2025</time>
            <p>Our work <a href="https://www.arxiv.org/abs/2508.04251">T3Time</a> has been accepted at the <a href="https://aaai.org/conference/aaai/aaai-26/">AAAI 2026 Main Technical Track</a>.</p>
          </article>
          <article class="news-entry">
            <time datetime="2025-09">Sep 2025</time>
            <p>Thrilled to share that our work <em>"SignFormer-GCN"</em> has been accepted at the <a href="https://wimlworkshop.org/">WiML Workshop at NeurIPS 2025</a>.</p>
          </article>
          <article class="news-entry">
            <time datetime="2025-09">Sep 2025</time>
            <p>Excited to begin my journey as a Machine Learning Engineer at <a href="https://www.aci-bd.com/">ACI PLC</a>.</p>
          </article>
          <article class="news-entry">
            <time datetime="2025-02">Feb 2025</time>
            <p>Our paper <em>"SignFormer-GCN"</em> is officially published in <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0316298">PLOS ONE</a>.</p>
          </article>
          <article class="news-entry">
            <time datetime="2024-03">Mar 2024</time>
            <p>Officially graduated from the Department of <a href="https://rme.du.ac.bd/">Robotics and Mechatronics Engineering</a>, University of Dhaka.</p>
          </article>
          <article class="news-entry">
            <time datetime="2024-01">Jan 2024</time>
            <p>Kicked off my career in the tech industry by joining <a href="https://www.ontiktechnology.com/">Ontik Technology</a> as an AI Engineer.</p>
          </article>
          <article class="news-entry">
            <time datetime="2024-01">Jan 2024</time>
            <p>Successfully defended my Undergraduate Thesis &mdash; a huge milestone in my academic journey.</p>
          </article>
          <article class="news-entry">
            <time datetime="2021-09">Sep 2021</time>
            <p>Honored to virtually present my poster <em>"Classical machine learning approach for human activity recognition using location data"</em> at <a href="https://ubicomp.org/ubicomp2021/">Proc. UbiComp/ISWC 2021</a>.</p>
          </article>
        </div>
      </section>
    </td>
  </tr>
</table>
