<section id="projects" class="site-section" aria-labelledby="projects-heading">
  <h1 id="projects-heading">Projects</h1>
  <h2 class="section-subheading">Office Projects</h2>
  <div class="publication-list">
    {% for post in site.posts %}
      {% if post.categories contains 'office-project' %}
        {% include project-card.html project=post %}
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="section-subheading">Course Projects</h2>
  <div class="publication-list">
    {% for post in site.posts %}
      {% if post.categories contains 'course-project' %}
        {% include project-card.html project=post %}
      {% endif %}
    {% endfor %}
  </div>

</section>
