<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta property="og:title" content="Safaeid Hossain Arib">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

  <meta property="og:image" content="https://safaeid48.github.io/images/safaeid.jpeg">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">





  <style>
    /* Style for the navigation bar */
    .navbar {
      overflow: hidden;
      background-color: #333;
      /* font-family: Arial, sans-serif; */
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      left: 0;
      right: 0;
      display: flex;
    }

    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      max-width: 800px;
    }

    .navbar button {
      float: left;
      display: block;
      color: #f2f2f2;
      background-color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      margin: none;

    }

    .navbar button:hover {
      background-color: #ddd;
      color: black;
    }

    body {
      padding-top: 50px;
      scroll-behavior: smooth;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const buttons = document.querySelectorAll(".navbar button");
      buttons.forEach(button => {
        button.addEventListener("click", function (e) {
          e.preventDefault();
          const targetId = this.getAttribute("data-target");
          const targetElement = document.getElementById(targetId);
          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop - 50, // Adjust for fixed navbar height
              behavior: "smooth"
            });
          }
        });
      });
    });
  </script>





</head>

<body>



  <div class="navbar">
    <div class="navbar-container">
      <button data-target="about">About</button>
      <button data-target="research">Research</button>
      <button data-target="projects">Projects</button>
      <button data-target="education">Education</button>
      <button data-target="work">Work Experience</button>
      <button data-target="awards">Awards and Scholarships</button>
      <button data-target="leadership">Leadership</button>
    </div>
  </div>





  <table id="about"
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <h1>
              Safaeid Hossain Arib
            </h1>
            <p style="text-align: center;">Learner, Researcher, Problem Solver</p>
          </tr>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <p>Hello, I am Safaeid Hossain Arib. </p>
              <p>I am currently working as a ML Engineer at <a href="https://www.aci-bd.com/">ACI Limited</a>, where I
                am working on different projects. Previously I worked as an AI Engineer at <a
                  href="https://www.ontiktechnology.com/">Ontik Technology</a>, where I constantly explored practical
                ways to bring machine learning solutions to life. You can check out some of my recent work in the
                <em>Projects</em> section. Outside of work, I’m diving deep into projects focused on long-term
                time series forecasting, vision language models, amodal counting, and more.
              <p>I hold a B.Sc. in Robotics and Mechatronics Engineering from the <a
                  href="https://rme.du.ac.bd/">University of Dhaka</a>. During my undergraduate studies, I worked as a
                research assistant with <a href="https://scholar.google.com/citations?user=Pe8C-SUAAAAJ&hl=en">Dr.
                  Shafin Rahman</a> and <a href="https://scholar.google.com/citations?user=j8XhiIEAAAAJ&hl=en&oi=ao">Dr.
                  Sejuti Rahman</a>, where I developed a continuous sign language translation system that achieved
                competitive performance. </p>
              <p>When I’m not coding or reading research papers, you’ll likely find me on the basketball court, lifting
                at the gym, or off exploring new places. I love connecting with curious minds—feel free to reach out!
              </p>
              <p><span style="color:red;">I am currently actively looking for opportunities to pursue a PhD starting in
                  Fall 2026.</span></p>

              <!-- Option 3: Using PNG/JPG images (if you have logo files) -->

              <p style="text-align:center">Connect with me!</p><br>
              <p style="text-align:center">

                <a href="mailto:safaeid48@gmail.com" title="Email" style="margin: 0 10px;">
                  <img src="images\gmail.webp" alt="Email" style="width: 30px; height: 30px;">
                </a>
                <a href="https://github.com/Safaeid48" title="GitHub" style="margin: 0 10px;">
                  <img src="images\github.jpg" alt="GitHub" style="width: 30px; height: 30px;">
                </a>
                <a href="https://scholar.google.com/citations?user=ETeF6sUAAAAJ&hl=en&oi=ao" title="Google Scholar"
                  style="margin: 0 10px;">
                  <img src="images\google-scholar.jpeg" alt="Google Scholar" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.linkedin.com/in/safaeid-hossain-arib-2a859a1b5/" title="LinkedIn"
                  style="margin: 0 10px;">
                  <img src="images\linkedin.webp" alt="LinkedIn" style="width: 30px; height: 30px;">
                </a>
              </p>




            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:80%;max-width:80%" alt="profile photo" src="images\safaeid.jpeg">
            </td>
          </tr>



          <!-- News and Updates Section -->
          <table
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h1>News and Updates</h1>
                <div style="max-height:300px; overflow-y:auto; padding:10px;">
                  <!-- new updates here -->
                  <div style="margin-bottom: 10px;">
                    <p><strong>September 22, 2025:</strong><br> Our work <em>"T3Time"</em> has been accepted at the <a
                        target="_blank" style="text-decoration: none"
                        href="https://aaai.org/conference/aaai/aaai-26/">AAAI 2026 Main Technical Track.</a>!!! 🚀</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>September 22, 2025:</strong><br> Thrilled to share that our work
                      <em>"SignFormer-GCN"</em> has been
                      accepted at the prestigious <a target="_blank" style="text-decoration: none"
                        href="https://wimlworkshop.org/">WiML Workshop @ NeurIPS 2025</a>! 🚀
                    </p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>September 01, 2025:</strong><br> Excited to begin my journey as a Machine Learning
                      Engineer at <a target="_blank" style="text-decoration: none" href="https://www.aci-bd.com/">ACI
                        Limited</a>! 💻🤖</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>February 14, 2025:</strong><br> Our paper <em>"SignFormer-GCN"</em> is officially
                      published in <a target="_blank" style="text-decoration: none"
                        href="https://journals.plos.org/plosone/">PLOS ONE</a>! 🎉</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>March 14, 2024:</strong><br> Officially graduated from the Department of <a
                        target="_blank" style="text-decoration: none" href="https://rme.du.ac.bd/">Robotics and
                        Mechatronics Engineering</a>,
                      University of Dhaka. Grateful for an amazing 4-year journey! 🥳</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>January 24, 2024:</strong><br> Successfully defended my Undergraduate Thesis — a huge
                      milestone in
                      my academic journey! 🎓</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>February 01, 2024:</strong><br> Proud to announce that I passed <a target="_blank"
                        style="text-decoration: none" href="https://www.cfainstitute.org/">CFA Level 1</a> on my very
                      first attempt! 📈✅</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>January 28, 2024:</strong><br> Kicked off my career in the tech industry by joining <a
                        target="_blank" style="text-decoration: none" href="https://www.ontiktechnology.com/">Ontik
                        Technology</a> as an AI Engineer! 🤝</p>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p><strong>September 25, 2021:</strong><br> Honored to virtually present my poster <em>"Classical
                        machine
                        learning approach for human activity recognition using location data"</em> at <a target="_blank"
                        style="text-decoration: none" href="https://ubicomp.org/ubicomp2021/">Proc. UbiComp/ISWC
                        2021</a> 🌍✨</p>
                  </div>
                </div>
              </td>
            </tr>
          </table>




          <table id="research"
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h1 style="text-align: center;">Research</h1>
                <p style="text-align: center;">
                  I'm interested in reinforcement learning, computer vision, natural language processing, machine
                  learning, multimodal learning, human-robot interaction and robotics.
                </p>
              </td>
            </tr>
          </table>


          <!-- Completed Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Completed</h2>
              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
            {% if post.categories contains 'research-completed' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="color:blue;">{{post.title}}</h3>
                <br>
                {{post.authors}}<br>
                <em style="color:green;">{{post.venue}}</em><br>

                {% if post.arxiv %}<a href="{{post.arxiv}}">[arxiv]</a> {% endif %}
                {% if post.paper %}<a href="{{post.paper}}">[paper]</a> {% endif %}
                {% if post.video %}<a href="{{post.video}}">[video]</a> {% endif %}
                {% if post.code %}<a href="{{post.code}}">[code]</a> {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">[poster]</a> {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">[slides]</a> {% endif %}
                {% if post.website %}<a href="{{post.website}}">[website]</a> {% endif %}
                {% if post.youtube %}<a href="{{post.youtube}}">[youtube]</a> {% endif %}

                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>

          <!-- Ongoing Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <!-- <h2>Ongoing</h2> -->

              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
            {% if post.categories contains 'research-ongoing' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="color:blue;">{{post.title}}</h3>
                <br>
                {{post.authors}}<br>


                {% if post.arxiv %}<a href="{{post.arxiv}}">[arxiv]</a> {% endif %}
                {% if post.video %}<a href="{{post.video}}">[video]</a> {% endif %}
                {% if post.code %}<a href="{{post.code}}">[code]</a> {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">[poster]</a> {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">[slides]</a> {% endif %}
                {% if post.website %}<a href="{{post.website}}">[website]</a> {% endif %}
                {% if post.youtube %}<a href="{{post.youtube}}">[youtube]</a> {% endif %}

                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>




          <br>
          <br>
          <br>

          <!-- Projects Header -->
          <table id="projects" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h1 style="text-align: center;">Projects</h1>
                <p style="text-align: center;">
                  Included projects completed through professional work, academic coursework, and independent personal
                  initiatives.
                </p>
              </td>
            </tr>
          </table>


          <!-- Office Projects Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Office Projects</h2>
              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
            {% if post.categories contains 'office-project' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="color:blue;">{{post.title}}</h3>
                <br>
                <em> {{post.course}}</em><br>


                {% if post.website %}<a href="{{post.website}}">[website]</a> {% endif %}
                {% if post.paper %}<a href="{{post.paper}}">[paper]</a> {% endif %}
                {% if post.patent %}<a href="{{post.patent}}">[patent]</a> {% endif %}
                {% if post.patent2 %}<a href="{{post.patent2}}">[patent] #2</a> {% endif %}
                {% if post.patent3 %}<a href="{{post.patent3}}">[patent] #3</a> {% endif %}
                {% if post.video %}<a href="{{post.video}}">[video]</a> {% endif %}
                {% if post.video2 %}<a href="{{post.video2}}">[video] #2</a> {% endif %}
                {% if post.code %}<a href="{{post.code}}">[code]</a> {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">[poster]</a> {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">[slides]</a> {% endif %}


                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>


          <!-- Course Projects Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Course Projects</h2>
              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
            {% if post.categories contains 'course-project' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="color:blue;">{{post.title}}</h3>
                <br>
                <em> {{post.course}}</em><br>


                {% if post.website %}<a href="{{post.website}}">[website]</a> {% endif %}
                {% if post.paper %}<a href="{{post.paper}}">[paper]</a> {% endif %}
                {% if post.patent %}<a href="{{post.patent}}">[patent]</a> {% endif %}
                {% if post.patent2 %}<a href="{{post.patent2}}">[patent] #2</a> {% endif %}
                {% if post.patent3 %}<a href="{{post.patent3}}">[patent] #3</a> {% endif %}
                {% if post.video %}<a href="{{post.video}}">[video]</a> {% endif %}
                {% if post.video2 %}<a href="{{post.video2}}">[video] #2</a> {% endif %}
                {% if post.code %}<a href="{{post.code}}">[code]</a> {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">[poster]</a> {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">[slides]</a> {% endif %}


                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>



          <!-- personal project Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Personal Projects</h2>
              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
            {% if post.categories contains 'course-personal' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="color:blue;">{{post.title}}</h3>
                <br>


                {% if post.website %}<a href="{{post.website}}">[website]</a> {% endif %}
                {% if post.paper %}<a href="{{post.paper}}">[paper]</a> {% endif %}
                {% if post.patent %}<a href="{{post.patent}}">[patent]</a> {% endif %}
                {% if post.patent2 %}<a href="{{post.patent2}}">[patent] #2</a> {% endif %}
                {% if post.patent3 %}<a href="{{post.patent3}}">[patent] #3</a> {% endif %}
                {% if post.video %}<a href="{{post.video}}">[video]</a> {% endif %}
                {% if post.video2 %}<a href="{{post.video2}}">[video] #2</a> {% endif %}
                {% if post.code %}<a href="{{post.code}}">[code]</a> {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">[poster]</a> {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">[slides]</a> {% endif %}

                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>


          <br>
          <br>

          <!-- Education Header -->
          <table id="education"
            style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle">
                <h1 style="text-align: center;">Education</h1>
                <p style="text-align: center;">
                  Below is a concise summary of my academic background to date.
                </p>
              </td>
            </tr>
          </table>

          <!-- Education Content -->
          <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">

                <p>
                  <strong><span style="color:blue;">■ CFA Level 1</span></strong> <span
                    style="color:green;">[2024]</span><br>
                  </a href="https://www.cfainstitute.org/">CFA Institute</a><br>
                  - <strong>Status:</strong> Passed<br>
                  <br>
                  - <strong>Notable Courses:</strong> Economics, Corporate Finance, Portfolio Management, Financial
                  Reporting Analysis, Quantitative Analysis, Fixed income Analysis, Professional Ethics, Equity
                  Investment, Derivatives
                </p>

                <br>

                <p>
                  <strong><span style="color:blue;">■ Bachelor of Science in Robotics & Mechatronics
                      Engineering</span></strong> <span style="color:green;">[2019–2024]</span><br>
                  Department of Robotics & Mechatronics Engineering,<br>
                  University of Dhaka,<br>
                  Dhaka, Bangladesh<br>
                  - <strong>CGPA:</strong> 3.67/4.00 <em>(Final Year: 3.77/4.00)</em><br>
                  <br>
                  -<strong>Final Year Project:</strong> Continuous Bangla Sign Language Translation: Mitigating the
                  Expense of Gloss Annotation with the Assistance of Graph <a
                    href="https://docs.google.com/presentation/d/1Qq-LXbnIHoO0C8htiiMZmyBWDhDUo4NN/edit?slide=id.p1#slide=id.p1"
                    target="_blank" style="color:blue;">[Presentation]</a><br>
                  <br>
                  - <strong>Notable Courses:</strong> Artificial Intelligence, Introduction to Machine Learning, Digital
                  Image Processing and Robot Vision, Digital Signal Processing,
                  Introduction to Robotics, Advanced Robotics, Intelligent Systems and Robotics, Human Robot
                  Interaction,
                  Object Oriented Programming, Fundamentals of Programming, Fundamentals of Computing, Microcontroller
                  and Programmable Logic Controller, Digital Logic Circuit and Microprocessor, Control System Design,
                  Linear Algebra, Differential and Integral Calculus, Multivariate and Vector Calculus, Differential
                  Equations and Coordinate Geometry, Mathematical Analysis for Engineers, Statistics for Engineers,
                  Fundamentals of Electrical and Electronics Engineering, Fundamentals of Mechanical Engineering,
                  Fundamentals of Mechatronics Engineering, Advanced Mechatronics Engineering, Industrial Management
                </p>

                <br>

                <p>
                  <strong><span style="color:blue;">■ Higher Secondary School Certificate (HSC)</span></strong> <span
                    style="color:green;">[2016–2018]</span><br>
                  Notre Dame College,<br>
                  Dhaka, Bangladesh<br>
                  - <strong>GPA:</strong> 5.00/5.00
                </p>

                <br>

                <p>
                  <strong><span style="color:blue;">■ Secondary School Certificate (SSC)</span></strong> <span
                    style="color:green;">[2008–2016]</span><br>
                  Dhaka Residential Model College,<br>
                  Dhaka, Bangladesh<br>
                  - <strong>GPA:</strong> 5.00/5.00
                </p>
              </td>
            </tr>
          </table>














          <br>
          <br>

          <!-- Experience Header -->
          <table id="work" style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle">
                <h1 style="text-align: center;">Work Experience</h1>
                <p style="text-align: center;">
                  I am committed to pursuing a research-driven career, whether in academia or industry. Below are some
                  highlights of my professional experiences so far.
                </p>
              </td>
            </tr>
          </table>

          <!-- Experience Content -->
          <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">
                <p>
                  <strong><span style="color:blue;">■ ML Engineer</span></strong> <span style="color:green;">[Sep 2025 –
                    Present]</span><br>
                  ACI Limited<br>
                  <strong>Team:</strong> Machine Learning<br>
                  ◦ Developing an automated call center bot using an agentic approach to handle customer interactions,
                  with integrated Bangla Automatic Speech Recognition and Text-to-Speech for enhanced user experience.
                  ◦ Designing a video-based truck identification system through license plate recognition, addressing
                  challenges of low-resolution imagery to improve detection and OCR accuracy.
                </p>


                <br>

                <p>
                  <strong><span style="color:blue;">■ AI Engineer</span></strong> <span style="color:green;">[Feb 2024 –
                    July 2025]</span><br>
                  Ontik Technology<br>
                  <strong>Team:</strong> Machine Learning<br>
                  ◦ Built a business process automation system that analyzes historical social media data for content
                  creators to generate monthly insight-driven reports (PDF/PowerPoint) with personalized recommendations
                  and visualizations based on statistical analysis using agentic workflow. This solution significantly
                  boosted client viewership and streamlined reporting, eliminating manual effort and enhancing
                  decision-making.<br>
                  ◦ Designed and implemented an agentic workflow to extract and validate data from binary COBOL files
                  into structured formats (CSV/TSV), ensuring consistency with copybook definitions. Successfully
                  delivered demos to major consultancy firms like Oliver Wyman in modernizing legacy systems by enabling
                  AI-powered data insights and accelerating their digital transformation.<br>
                  ◦ Created Power BI dashboard to enable the Business and Finance teams to track organizational progress
                  and help in making data driven decisions.<br>
                  ◦ Designed prototype for Retrieval Augmented Generation Chatbot for automating customer support.<br>
                  ◦ Led the development of Project Ongaurd-M, serving both as a machine learning engineer and the point
                  of contact (PoC), creating a tool to help patients scan prescriptions, schedule medication dosages,
                  and find alternative medicines.<br>
                  ◦ Conducted financial planning and analysis for LazyChat, spanning competitor analysis, go-to-market
                  strategy, value proposition, market positioning, and pricing strategy development.<br>
                </p>


                <br>

                <p>
                  <strong><span style="color:blue;">■ Undergraduate Research Assistant</span></strong> <span
                    style="color:green;">[Jan 2023 – Jan 2024]</span><br>
                  Department of Robotics and Mechatronics Engineering, University of Dhaka<br>
                  <strong>Supervisor:</strong> Dr. Sejuti Rahman<br>
                  ◦ Designed and implemented a novel architecture for BdSL translation, establishing the first benchmark
                  in this low-resource language domain.<br>
                  ◦ Authored a manuscript detailing innovative methodology and findings, published in PLOS One (Q1
                  Journal).
                </p>
              </td>
            </tr>
          </table>








          <br>
          <br>

          <!-- Awards and Scholarships Header -->
          <table id="awards" style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle">
                <h1 style="text-align: center;">Awards and Scholarships</h1>
                <p style="text-align: center;">
                  Over the years, I’ve been honored with a few recognitions—made possible by the invaluable support of
                  mentors and peers who have greatly influenced my growth.
                </p>
              </td>
            </tr>
          </table>

          <!-- Awards and Scholarships Content -->
          <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">

                <!-- Research Grant -->
                <h2><span style="color:blue;">■ Research Grant</span></h2>
                <ul>
                  <li><strong>Special Innovation Fund</strong>, Bangladesh Ministry of Science and Technology (MoST),
                    Fiscal Year 2023–2024<br>
                    <em>Project ID: SRG-232431</em>
                  </li>
                </ul>

                <br>


                <!-- Hackathons -->
                <h2><span style="color:blue;">■ Hackathons</span></h2>
                <ul>
                  <li><strong>Honourable Mention</strong>, NASA Earth Observatory (EO) Dashboard Hackathon 2021<br>
                    <em>Organized by NASA, ESA, and JAXA</em>
                  </li>
                  <li><strong>11th Place</strong>, Sussex-Huawei Locomotion Challenge 2021<br>
                    <em>Organized by University of Sussex and Huawei</em>
                  </li>
                </ul>


              </td>
            </tr>
          </table>









          <br>
          <br>

          <!-- Leadership/Volunteer Activities Header -->
          <table id="leadership"
            style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle">
                <h1 style="text-align: center;">Leadership</h1>
                <p style="text-align: center;">I dedicate part of my time to serving communities. Here are a few
                  selected contributions.
                </p>
              </td>
            </tr>
          </table>

          <!-- Leadership/Volunteer Content -->
          <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
            <tr>
              <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">
                <p>
                  <strong><span style="color:blue;">■ Student Activity Secretary</span></strong> <em><span
                      style="color:green;">[Jan 2023 – Dec 2023]</span></em><br>
                  IEEE Robotics and Automation Society Student Branch, University of Dhaka<br>
                  ◦ Organized several workshops, interactive sessions, and industry expert experience-sharing sessions.
                </p>

                <br>

                <p>
                  <strong><span style="color:blue;">■Mentor</span></strong> <em><span style="color:green;">[Jul 2019 –
                      Dec 2020]</span></em><br>
                  Bangladesh Robot Olympiad (BdRO)<br>
                  ◦ Conducted robotics workshops in multiple high schools and developed engaging quizzes for BdRO.
                </p>

                <br>

                <p>
                  <strong><span style="color:blue;">■ Mentor</span></strong> <em><span style="color:green;">[Jun 2024 –
                      Sep 2024]</span></em><br>
                  Bangladesh Artificial Intelligence Olympiad (BdAIO)<br>
                  ◦ Designed and delivered lessons on classification algorithms and evaluation metrics for a group of 10
                  high school students, and created quizzes to assess their understanding.
                </p>


              </td>
            </tr>
          </table>












          <table
            style="width:80%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:0px">
                <br>
                <div style="text-align:center; max-width:800px; margin:auto;">
                  <script type="text/javascript" id="clustrmaps"
                    src="//cdn.clustrmaps.com/map_v2.js?cl=050404&w=a&t=tt&d=vi-d_o3EkDlb3uPDGVtcrHo7BnNeTwF3dd0Ajod9uyU&co=ffffff&ct=000000"></script>
                </div>
              </td>
            </tr>
          </table>
      </td>
    </tr>
  </table>
</body>

</html>